<!DOCTYPE html>  
<html lang="en">  
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

    <title>Data Collaboration</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"><!-- load bootstrap -->

    <!-- HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- styles -->
    <link href="/assets/css/landingpage.css" rel="stylesheet">

  </head>
  <body>
    <div class="landingTop">
      <div class="landingText">
        <!-- <span class="landingIntroHeader">Introducing John</span> -->
        <h1 class="landingHeader">CONNECTING QUESTIONS TO<br/>DATA-DRIVEN ANSWERS</h1>
        <form action="//vueanalytics.us7.list-manage.com/subscribe/post?u=b3327fa8dda4188d94ebbc063&amp;id=65c1fd4bfe" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <input class="subscribe" type="email" name="EMAIL" placeholder="Enter your email" value="" id="mce-EMAIL"></input>
          <div style="position: absolute; left: -5000px;"><input type="text" name="b_b3327fa8dda4188d94ebbc063_65c1fd4bfe" tabindex="-1" value=""></div>
          <div class="clear">
          <button class="subscribeButton" type="submit" id="mc-embedded-subscribe">Join The Beta</button>
          <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
          </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        </form>
      </div>
    </div>
    <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
    <!--End mc_embed_signup-->
  </body>
</html>  